<!DOCTYPE html>
<html lang = "en">
<head>
	<meta charset = "UTF-8">
	<title> Homesafe </title>
	<script src="https://cdn.pubnub.com/sdk/javascript/pubnub.4.29.8.js"></script>
	<script src="https://cdn.pubnub.com/sdk/javascript/pubnub.4.29.8.min.js"></script>
<!--	<script src="static/js/main.js"></script>-->
	<link rel ="stylesheet" href="{{url_for('static', filename='css/main.css')}}">

</head>
<body>
	<div class="header" id="header">
		<img src="static/img/logo.jpg" alt="logo"/>
		<h1> HomeSafe Login </h1>
	</div>
		<form>
		<h3>User <label for="user">
			<input type="textbox" id="user" user="firstname"></label></h3>
		<h3>Password <label for="password">
			<input type="textbox" id="password"></label></span></h3>
			<input type="submit" value="Enter">
		</form>

	<span>
		{% for message in get_flashed_messages() %}
			{{ message }}
		{% endfor %}
	</span>

</body>