<!DOCTYPE html>
<html lang = "en">
<head>
	<meta charset = "UTF-8">
    <title>Running Bill</title>
    <script src="https://cdn.pubnub.com/sdk/javascript/pubnub.4.29.8.js"></script>
	<script src="https://cdn.pubnub.com/sdk/javascript/pubnub.4.29.8.min.js"></script>
	<script src="static/js/main.js"></script>
	<link rel ="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
</head>
<body>
<nav id="nav">
<ul>
    <img src="static/img/logo.jpg" alt="logo" id="logo"/>
    <h2>Homesafe</h2>
    <li><a href="/dashboard">Dashboard</a></li>
    <li><a href="/electricity">Electricity Usage</a></li>
    <li><a href="/temperature">Temperature Analysis</a></li>
    <li><a class="active" href="/runningbill">Running Bill</a></li>
</ul>
</nav>
<div class="container">
<div class="row">
<div class="columndate">
    <input type="date" id="input">
</div>
</div>
    <button class="button logout"><a href="/">Logout</a></button>
    <button class="button settings"><a href="/settings">Settings</a></button>
</div>


<div class="row">
<div class="column1">
    <h3>Target set €150 <a href="/settings">Edit</a></h3>
<!--    <button class="button edit"><a href="/settings">Edit</a></button>-->
    <div class="boxed">
    <h2>Total Costs This Bill</h2>
      <p>1st October - 1st December</p>
      <h3>€50.70</h3>
      <img src="static/img/Happy.jpg" alt="happy face" id="happy"/>
    </div>
  </div>
    <div class="column2">
        <div class="rectangle">
        <button class="button button1">< Change Week ></button>
            <div class="monday"></div>
            <div class="tuesday"></div>
            <div class="wednesday"></div>
            <div class="thursday"></div>
            <div class="friday"></div>
            <div class="saturday"></div>
            <div class="sunday"></div>
    </div>
    </div>
</div>
</body>
</html>